<h1>Create post</h1>
<form method="POST" action="/post">
    Title: <input type="text" name="title"><br>
    Content: <input type="text" name="content"><br>
    Brand:
    <select name="tag">
    <option value="gilette">gilette</option>
    <option value="head_and_shoulders">Head and Shoulders</option>
    <option value="lenor">Lenor</option>
    <option value="pampers">Pampers</option>
    </select>

    <input type="submit" value="submit">
</form>
