<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
      <div class = "container", id="show">
      </div>

      <script>
      $("show").onLoad(function(){
    $.get("/post", function(data, status){
        alert("Data: " + data + "\nStatus: " + status);
    });
});</script>
  </body>
</html>
